<html>
    <head>
        <title>Scrabble</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>

    </head>
    <body>
        <div class='container'>
            <h1>Find out your scrabble score!</h1>
            <form action="/create_word" method ="get">
                <label for="inputword">Enter Your Word</label>
                <input id="inputword" name="inputword" type="text" required>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </body>
</html>
