<html>
<head>
    <title>Result</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css' type='text/css'>
</head>
<body>
    <div class='container'>
    <h1>Here is the scrabble score for your word:</h1>

    <div class='round'>
    <h3>{{ result }}</h3>
    </div>
    

    <a href='/'><button type="submit" class="btn btn-info">Try another word!</button></a>
</div>

</body>
</html>
