<html>
<head>
    <title>Result</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
</head>
<body>
    <h1>Here is the scrabble score for your word:</h1>

    <h3>{{ result }}</h3>

</body>
</html>
